* {
    box-sizing: border-box;
}
body {
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
aside img {
    width: 100%;
}
aside {
    grid-area: as;
}
main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255,255,230);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "h h"
    "n n"
    "as a"
    "f f";
}
header {
    grid-area: h;
    opacity: 0.8px;
    background-image: url(fejlec.jpg);
    height: 550px;
}
header h1 {
    color: red;
    font-weight: bold;
    font-family: cursive;
    margin-top: 60px;
    text-align: center;
}
nav {
    grid-area: n;
    background-color: red;
    height: 50px;
    border-top: 1px;
    border-bottom: 1px;
    padding: 5px;
    text-align: center;
    color: white;
}
nav a:hover {
    color: white;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
article {
    grid-area: a;
    text-align: justify;
    font-weight: 10px;
    padding: 5px;
}
article h2 {
    font-weight: 15px;
    color:brown;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
article img {
    float: right;
    padding-left: 10px;
}
footer {
    grid-area: f;
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav li:hover{
    background-color: green;
}